name: lint
on: pull_request

jobs:
  unit:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repo
      uses: actions/checkout@v2

    - run: |
        echo "Hello"
        git submodule update --init --recursive
        pwd && ls
        ./hack/ci/lint-check.sh
